{
  {% if DOCKER_POOL_IPS is defined %}
  "default-address-pools":
  [
    {"base": "{{DOCKER_POOL_IPS}}","size": {{DOCKER_POOL_IPS_SIZE}}}
  ],
  {% endif %}
"log-driver": "json-file",
  "log-opts": {
    "max-size": "{{log_opts_max_size}}",
    "max-file": "{{log_opts_max_file}}"
  }
}
